.field {
    overflow: scroll;
    position: absolute;
    top: 0px;
    left: 0px;
}

.game_click_mode_button {
    width: 90%;
    border: 0px;
    margin: 5px;
    font-size: 5vh;
    text-align: center;
}