body {
    border: 0px;
    margin: 0px;
    background-color: rgb(68, 65, 65);
}

.select_game_button {
    width: 40vh;
    height: 40vh;
    border: 0px;
    margin: 5px;
}

.select_game_button_custom_input {
    width: 20vh;
    height: 2vh;
}

.select_game_button_custom_label {
    width: 20vh;
    height: 2vh;
}

.select_game_button_custom_button {
    width: 40vh;
    height: 20vh;
    margin: 0px;
    border: 0px;
}

.tile {
    background-color: aqua;
    width: 10vh;
    height: 10vh;
    font-size: 8vh;
    text-align: center;
    border: 0px;
}

.tile.undiscovered {
    background-color: rgb(46, 39, 40);
    font-size: 0%;
    /* color: white; */
}

.tile.flag {
    background-color: rgb(46, 39, 40);
    font-size: 0%;
}

.tile.questionmark {
    background-color: rgb(46, 39, 40);
    font-size: 0%;
}

.tile.empty {
    background-color: rgb(167, 159, 160);
}

.flag_img {
    width: 100%;
    height: auto;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.tile.mine {
    font-size: 0%;
    background-color: red;
}

.tile.number_1 {
    background-color: blue;
}

.tile.number_2 {
    background-color: green;
}

.tile.number_3 {
    background-color: red;
}

.tile.number_4 {
    background-color: purple;
}

.tile.number_5 {
    background-color: maroon;
}

.tile.number_6 {
    background-color: turquoise;
}

.tile.number_7 {
    background-color: rgb(65, 65, 65);
}

.tile.number_8 {
    background-color: gray;
}
/* click_mode */

.game_tools {
    background-color: rgb(116, 108, 108);
    float: right;
    width: 15vw;
    height: 100vh;
    text-align: center;
}

.game_tools_back {
    width: 90%;
    border: 0px;
    margin: 5px;
    font-size: 10vh;
    text-align: center;
}

.field {
    overflow: scroll;
    float: left;
    width: 85vw;
    height: 100vh;
}

.game_click_mode_button {
    width: 90%;
    border: 0px;
    margin: 5px;
    font-size: 5vh;
    text-align: center;
}